<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <!--Use ngIf as conditional to show the task-->
    <div class="form-control">
      <label for="text">Task</label>
      <input
        type="text"
        name="text"
        [(ngModel)]="text" 
        id="text"
        placeholder="Add Task"
      />
      <!--use both [] and () because two-way data binding -> input and output-->
      <!--ngmodel same name as name-->
    </div>
    <div class="form-control">
      <label for="day">Day & Time</label>
      <input
        type="text"
        name="day"
        [(ngModel)]="day"
        id="day"
        placeholder="Add Day & Time"
      />
    </div>
    <div class="form-control form-control-check">
      <label for="reminder">Set Reminder</label>
      <input
        type="checkbox"
        name="reminder"
        [(ngModel)]="reminder"
        id="reminder"
      />
    </div>
    <input type="submit" value="Save Task" class="btn btn-block" />
  </form>